/* Carousel */
.height-img {
   height: 100vh;
   object-fit: cover;
}

/* Principles */
.content__subject {
   margin-bottom: 80px;
}

.content__subject__title {
   font-size: 3rem;
   color: var(--text-color);
}

.content__subject span {
   display: block;
   width: 100px;
   height: 3px;
   background-color: var(--primary-color);
   margin: 0 auto;
   margin-top: 20px;
}

.card-principles {
   transition: all 0.3s;
}

.card-principles:hover {
   background-color: var(--primary-color);
   color: var(--text-color-white);
}

.card-principles__icon {
   color: var(--text-color);
   font-size: 3rem;
}

.card-principles__text {
   color: var(--text-color);
   font-weight: 500;
}

.card-principles:hover .card-principles__icon,
.card-principles:hover .card-principles__text {
   color: var(--text-color-white);
}

/* Core value */
.col-custom .card-corevalue {
   height: 200px;
}

.card-corevalue__icon {
   background-color: var(--primary-color);
   height: 60px;
   width: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--text-color-white);
   font-size: 2.5rem;
}

.card-corevalue__body--title {
   font-size: 1.5rem;
   color: var(--text-color);
}

.card-corevalue__body--text {
   font-size: 1rem;
   color: var(--text-color);
}
