/* Order Customer */
.order-container,
.order-supplier-container {
   height: 100%;
   margin: 120px auto 50px auto;
}

.order__title,
.order-supplier__title {
   font-size: 2rem;
   font-weight: 600;
   text-align: center;
   color: var(--text-color);
}

.order__title--number {
   font-size: 1.2rem;
   color: var(--primary-color);
   font-weight: 600;
}

.order__card {
   transition: all 0.3s ease;
}

.order__card:hover {
   cursor: pointer;
   border: 1px solid var(--primary-color);
}

.order__title--content {
   font-size: 1.1rem;
   color: var(--text-color);
   font-weight: 500;
}

.custom-modal .modal-dialog {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.custom-modal .modal-content {
   max-height: 90vh;
   overflow-y: auto;
}

.modal-dialog {
   margin: 0 auto !important;
}

/* Order supplier */
